<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:websocket="http://www.springframework.org/schema/websocket"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
       http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-4.2.xsd  
       http://www.springframework.org/schema/mvc  
       http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd  
       http://www.springframework.org/schema/websocket  
        http://www.springframework.org/schema/websocket/spring-websocket-4.1.xsd">
       
     <!-- 配置文件 -->  
    <context:property-placeholder location="classpath:config/sms-forward.properties" />       

	<!-- 启动注解服务 -->
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.zee.webgame.controller"/>
	
	<!-- websocket配置 -->  
    <bean id="GameSocketHandle" class="com.zee.webgame.websocket.GameSocketHandle" />  
    <websocket:handlers>  
       <!-- 配置消息处理bean和路径的映射关系 -->  
       <websocket:mapping path="/ws/server.do" handler="GameSocketHandle"/>  
       <!-- 配置握手拦截器 -->  
       <websocket:handshake-interceptors>  
           <bean class="com.zee.webgame.websocket.HandshakeInterceptor"/>  
       </websocket:handshake-interceptors>  
       <!-- 开启sockjs，去掉则关闭sockjs -->  
       <!-- <websocket:sockjs /> -->  
    </websocket:handlers>  
    <!-- 配置websocket消息的最大缓冲区长度 -->  
    <!-- <bean  
    class="org.springframework.web.socket.server.standard.ServletServerContainerFactoryBean">  
       <propertynamepropertyname="maxTextMessageBufferSize" value="8192" />  
       <propertynamepropertyname="maxBinaryMessageBufferSize" value="8192" />  
    </bean>-->

	
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  <property name="prefix" value="/views/jsp/"/>
	  <property name="suffix" value=".jsp"/>
	</bean>
</beans>